{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>CensusIndia2021</title>
  {% include 'userInterface/head.html' %}


<body>
  {% include 'userInterface/nav.html' %}
  
  <!-- header end -->

  <section class="hero-wrap hero-wrap-2" style="background-color: coral;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-2 bread" style="font-size: 4em; color: wheat;">About</h1>
          
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
      <div class="row d-flex">
        
        <div class="col-md-15 wrap-about py-5 pr-md-4 ftco-animate">
          <h2 class="mb-4">About Census</h2>
          <p><b>What is Census?</b></p>
          <p>Census is the basis for reviewing the country's progress in the past decade, monitoring the ongoing schemes
            of the government and plan for the future.</p>
          <p>Census provides detailed and authentic information on demography, economic activity, literacy and
            education, housing and household amenities, urbanisation, fertility and mortality, scheduled castes and
            scheduled tribes, language, religion, migration, disability and many other socio-cultural and demographic
            data.</p>
          <p><b>Static Aspect</b></p>
          <p>It provides an instantaneous photographic picture of a community, which is valid at a particular moment of
            time.</p>
          <p><b>Census: Every 10 years in India</b></p>
          <p>Censuses are taken only at infrequent intervals: Every 10 years in many countries Every five years or at
            irregular intervals in some countries. Census is conducted under the provisions of the Census Act 1948, and
            in India, this data is collected every 10 years.</p>
          <p> <b>Important points to know about the Census process</b> </p>
          <p>Census data is taken by visiting each and every household and gathering particulars by asking questions and
            filling up census forms.</p>
          <p>Confidential information : The information collected during the process is confidential. In fact, this
            information is not even accessible to the courts of law.</p>
          <p>Transportation to data processing centres : The forms are transported to data processing centres located at
            15 cities across the country.</p>
          <p>Intelligent Character Recognition Software (ICR) : This technology came in India in Census 2001 and has
            become the benchmark for censuses all around the globe.</p>
          <p>Scanning and extraction of data : This involves the scanning of the census forms at high speed and
            extracting the data automatically using computer software.</p>
          <p> <b>First Census in India under British rule</b> </p>
          <ul>
            <li>The first complete census of India was conducted in 1830 by Henry Walter in Dacca (now Dhaka). In this
              census the statistics of the population with sex, broad age group, and the houses with their amenities
              were collected.</li>
            <li>Census 2011: The latest one</li>
            <li>Census 2011 was the 15 National Census of the country since 1872 and the 7th after Independence.</li>
            <li>This census was conducted in two phases which are as follows: House Listing or Housing Census</li>
            <li>The first phase was conducted between April and September across the country, in 2010 depending on the
              convenience of different states/UTs. Population Enumeration</li>
              <li>The second phase began all over the country from February 9, 2011, and continued up to February 28, 2011.</li>
              <h5 style="margin: 10px;"><b>The Census Commissioners from 1881 Census to 1941 Census and thereafter Registrar General and Census Commissioner, India from 1949 onwards are shown below:
              </b></h5>
          </ul>
        </div>
      </div>
    </div>
  </section>

 
    <div class="container">
           
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Census Commissioners , India</th>
          <th style="column-span:'2';">Registrar General and Census Commissioners , India</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1881   Mr. W. W. Plowden</td>
          <td>1949   Mr. M W M Yeatts</td>
         <td>1989 - 1994   Mr. A. R. Nanda</td>
        </tr>
        <tr>
          <td>1891   Mr. J. A. Bains</td>
          <td>1949 - 1953   Mr. R. A. Gopalaswami</td>
          <td>1994 - 1999    Dr. M. Vijayanunni</td>
        </tr>
        <tr>
          <td>
              1901&nbsp;&nbsp;&nbsp;Mr. H. H. Risley &amp; E. A. Gait</td>
          <td>
              1958 - 1968&nbsp;&nbsp;&nbsp;Mr. Asok Mitra</td>


<td>
              1999 - 2004&nbsp;&nbsp;&nbsp;Mr. J. K. Banthia&nbsp;&nbsp;
          </td>

      <tr>
          <td>
              1911&nbsp;&nbsp;&nbsp;Mr. E. A. Gait</td>
          <td>
              1968 - 1973&nbsp;&nbsp;&nbsp;Mr. A. Chandra Sekhar</td>

<td>
              2004 - 2009&nbsp;&nbsp;&nbsp;Mr. D.K. Sikri</td>
      </tr>



      </tr>
      <tr>
          <td>
              1921&nbsp;&nbsp;&nbsp;Mr. J. T. Marten</td>
          <td>
              1973 - 1977&nbsp;&nbsp;&nbsp;Mr. R. B. Chari</td>


<td>
              2009 - 2016&nbsp;&nbsp;&nbsp; Dr. C. Chandramouli&nbsp;&nbsp;
          </td>



<tr>
          <td>
              1931&nbsp;&nbsp;&nbsp;Mr. J. H. Hutton</td>
          <td>
              1977 - 1983&nbsp;&nbsp;&nbsp;Mr. P. Padmanabha</td>
              <td>
              2016 - 2019&nbsp;&nbsp;&nbsp; Shri Sailesh</td>
      </tr>




      <tr>
          <td>
              1941&nbsp;&nbsp;&nbsp;Mr. M. W. M. Yeatts</td>
          
              <td>
              1983 - 1989&nbsp;&nbsp;&nbsp; Mr Vijay S Verma
</td>
<td>
              2019  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dr. Vivek Joshi				</td>


      </tr>
      </tbody>
    </table>

    
 

    <footer class="ftco-footer ftco-footer-widget ftco-bg-dark ftco-section" style="height: 50px; text-align: center;">
      

      <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Site is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Central government</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
          </div>
        </div>
      </footer>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#F96D00" />
    </svg></div>


 
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static '/js/popper.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static '/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static '/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static '/js/owl.carousel.min.js' %}"></script>
    <script src="{% static '/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static '/js/aos.js' %}"></script>
    <script src="{% static '/js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static '/js/scrollax.min.js' %}"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false' %}"></script>
    <script src="{% static '/js/google-map.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
  
      
</body>

</html>