{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CensusIndia2021</title>
    {% include 'userInterface/head.html' %}


    <body>
      {% include 'userInterface/nav.html' %}
    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2" style="background:coral">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Blogs About Census</h1>
            </div>
        </div>
      </div>
    </section>

		
		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row">
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('{% static '/images/blog1.jpg'%}');">
								<div class="meta-date text-center p-2">
                  <span class="day">26</span>
                  <span class="mos">June</span>
                  <span class="yr">2019</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">The Census under British India.</a></h3>
                <p>In 1871-72, under British Viceroy Lord Mayo, the first Indian census took place. The census in 1871-72 was the first effort to measure the age, caste, religion, profession, education and disease of each individual throughout India. </p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="blog1.html" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
	                
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('{% static '/images/th.jpg'%}');">
								<div class="meta-date text-center p-2">
                  <span class="day">26</span>
                  <span class="mos">June</span>
                  <span class="yr">2019</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">The first Census of Independent India.</a></h3>
                <p>After the independence of India, the census was assured through the Census of India Act 1948. The act laid down the rules and regulations for the operation of the national census.</p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="blog2.html" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
	                
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('{% static '/images/blog2.jpg'%}');">
								<div class="meta-date text-center p-2">
                  <span class="day">26</span>
                  <span class="mos">June</span>
                  <span class="yr">2019</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">Highlights of the 15th census in India – The 2011 census</a></h3>
                <p>On 1 April 2010, the 15th Indian Census and the 7th Independent India-2011 Census began with the President, who is the first citizen of India, and the Vice President. </p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="blog3.html" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
	                
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('{% static '/images/blog3.jpg'%}');">
								<div class="meta-date text-center p-2">
                  <span class="day">26</span>
                  <span class="mos">June</span>
                  <span class="yr">2019</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">Updates for 2021 census</a></h3>
                <p>The Finance Minister  presented the first digital budget for the economy; she further announced that the Eighth Census of Independent India will be the nation’s first digital census.</p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="blog4.html" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
	               
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('{% static '/images/blog4.jpg'%}');">
								<div class="meta-date text-center p-2">
                  <span class="day">26</span>
                  <span class="mos">June</span>
                  <span class="yr">2019</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">Background of the census </a></h3>
                <p>In the modern era, censuses started with surveys for the city of Allahabad in 1824 by the British authorities. Benares also had a census after that in 1827-28. </p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="blog5.html" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
	                
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('{% static '/images/blog5.jpg'%}');">
								<div class="meta-date text-center p-2">
                  <span class="day">26</span>
                  <span class="mos">June</span>
                  <span class="yr">2019</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">PM Modi asserted next census will be most remarkable digitalised census of the country: NITI Aayog
                </a></h3>
                <p>Prime Minister Narendra Modi asserted that the next census will be the first and most remarkable digitalised census of the country, said NITI Aayog Vice-Chairman Rajiv Kumar.</p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="blog6.html" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
	                
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
		</section>
		
    <footer class="ftco-footer ftco-footer-widget ftco-bg-dark ftco-section" style="height: 50px; text-align: center;">
      

      <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Site is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Central government</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
          </div>
        </div>
      </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="{% static '/js/jquery.min.js' %}"></script>
  <script src="{% static '/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static '/js/popper.min.js' %}"></script>
  <script src="{% static '/js/bootstrap.min.js' %}"></script>
  <script src="{% static '/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static '/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static '/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static '/js/owl.carousel.min.js' %}"></script>
  <script src="{% static '/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static '/js/aos.js' %}"></script>
  <script src="{% static '/js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static '/js/scrollax.min.js' %}"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false' %}"></script>
  <script src="{% static '/js/google-map.js' %}"></script>
  <script src="{% static '/js/main.js' %}"></script>
  
  
  </body>
</html>