{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Indian Census System</title>
    {% include 'userInterface/head.html' %}
  <style>
    .new{
      border: 2px solid coral;
    }
    .new1{
      border: 2px solid black;
    }
  </style>
  <body>
      {% include 'userInterface/nav.html' %}
    <section class="hero-wrap hero-wrap-2" style="background-color: coral;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Census Form</h1>
            </div>
        </div>
      </div>
    </section>

    <div class="container m-5">
     
      
      <form style="margin-left: 30%;" action='{% url "userInterface:submission" %}' method="POST">
        {% csrf_token %}
        <h1 style="text-align: center;">Household Census</h1>
        <br><hr class="new">
        <br>
        <script>
            function check_adhar(num) {
                if (num.length<12){
                    document.getElementById("adhar").style.border = "1px solid red";
                }
                else{
                    document.getElementById("adhar").style.border = "1px solid green";
                }
            }
        </script>
        <fieldset>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" id="adhar"placeholder="AdhharCard No" name='adhar' oninput="check_adhar(this.value)">
            </div><br><hr class="new">
          <div class="form-row">
              <div class="form-group col-md-4">
                  <input type="text" class="form-control" placeholder="State" name='state'>
              </div><br><hr class="new">
              <div class="form-group col-md-4">
                  <input type="text" class="form-control" placeholder="City" name='city'>
              </div><br><hr class="new">
              <div class="form-group col-md-4">
                  <input type="text" class="form-control" placeholder="Taluka" name='taluka'>
              </div><br><hr class="new">
          </div>
          <div class="form-row">
              <div class="form-group col-md-4">
                  <input type="text" class="form-control" placeholder="Town/village" name='town'>
              </div><br><hr class="new">
              <div class="form-group col-md-4">
                  <input type="text" class="form-control" placeholder="Pincode" name='pincode'>
              </div><br><hr class="new">
          </div><hr class="new">
          <div class="form-group">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"
                  placeholder="Full Address" name='address'></textarea>
          </div><br><hr class="new">
          <div class="form-group">
              <label for="inputState">Material of Floor : </label>
              <select id="inputState" class="form-control" name='floor'>
                  <option>Mud</option>
                  <option>Wood/Bamboo</option>
                  <option>Bricks</option>
                  <option>Stone</option>
                  <option>Cement</option>
                  <option>Mosasic/Floor Tiles</option>
                  <option>Any Other</option>
              </select>
          </div><br><hr class="new">
          <div class="form-group">
              <label for="inputState">Material of Wall : </label>
              <select id="inputState" class="form-control" name='wall'>
                  <option>Plastic/Polythene</option>
                  <option>Grass/Bamboo</option>
                  <option>Mud/unburnt Bricks</option>
                  <option>Stone not packed with mortar</option>
                  <option>Stone packed with mortar</option>
                  <option>Burnt brick</option>
                  <option>Concrete</option>
                  <option>Any Other</option>
              </select>
          </div><br><hr class="new">
          <div class="form-group">
              <label for="inputState">Material of Roof : </label>
              <select id="inputState" class="form-control" name='roof'>
                  <option>Grass/ thatch/ bamboo/
                      wood/ mud etc</option>
                  <option>Plastic/ polythene</option>
                  <option>Hand made tiles</option>
                  <option>Machine made tiles</option>
                  <option>Burnt brick</option>
                  <option>Stone</option>
                  <option>Slate</option>
                  <option>G.I./metal/
                      asbestos sheets</option>
                  <option> Concrete</option>
                  <option>Any Other</option>
              </select>
          </div><br><hr class="new">
          <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="inputState">Use of census house : </label>
                  <select id="inputState" class="form-control" name='useofhouse'>
                      <option>Residence</option>
                      <option>Residence-cum-other use</option>
                      <option>Shop/ office</option>
                      <option>School/ college etc</option>
                      <option>Hotel/ lodge/
                          guest house etc</option>
                      <option>Hospital/ dispensary etc</option>
                      <option>Factory/ workshop/
                          workshed etc</option>
                      <option>Place of worship</option>
                      <option>Other non-residential use</option>
                      <option>Vacant</option>
                  </select>
              </div><br><hr class="new">
              <div class="form-group col-md-6">
                  <label for="inputState">Total number of persons normally residing in this household</label>
                  <input  type="text" class="form-control" name="totalperson">
              </div>
          </div>

          <div class="form-group mt-3">
              <input type="text" class="form-control" placeholder="Name of the head of the household " name='headofhouse'>
          </div><br><hr class="new">
          <div class="form-row">
              <div class="form-group col-md-4">
                  <label for="inputState">Gender of head of the household : </label>
                  <select id="inputState" class="form-control" name='headgender'>
                      <option selected>Male</option>
                      <option>Female</option>
                      <option>Transgender</option>
                  </select>
              </div><br><hr class="new">
              <div class="form-group col-md-4">
                  <label for="inputState">Cast : </label>
                  <select id="inputState" class="form-control" name="cast">
                      <option selected>SC</option>
                      <option>ST</option>
                      <option>Other</option>
                  </select>
              </div>
          </div><br><hr class="new">
          <div class="form-row">
              <div class="form-group col-md-4">
                  <label for="inputState">Ownership status of this house : </label>
                  <select id="inputState" class="form-control" name='ownership'>
                      <option selected>Owned</option>
                      <option>Rented but has own house elsewhere-</option>
                      <option>Rented and doesn’t own any house</option>
                      <option>Any other</option>
                  </select>
              </div><br><hr class="new">
              <div class="form-group col-md-4">
                  <label for="inputState">Number of dwelling rooms : </label>
                  <input type="text" class="form-control" placeholder="Ex. 1 OR 2 OR 3.." name="dwellingrooms">
              </div><br><hr class="new">
              <div class="form-group col-md-4">
                  <label for="inputState">Number of married couple in household : </label>
                  <input type="text" class="form-control" name='marriedcoupleno'>
              </div><br>
          </div><br><hr class="new">
          <div class="form-row">
              <div class="form-group col-md-4">
                  <label for="inputState">Main source of drinking water : </label>
                  <select id="inputState" class="form-control" name='sourceofwater'>
                      <option selected>Tap water from treated source</option>
                      <option>Tap water from un-treated source</option>
                      <option>Well</option>
                      <option>Hand Pump</option>
                      <option>Tubewell/ borehole</option>
                      <option>Spring</option>
                      <option>River/canal</option>
                      <option>Tank/pond/lake</option>
                      <option>Packaged/bottled water</option>
                      <option>Other sources</option>
                  </select>
              </div><br><hr class="new">
              <div class="form-group col-md-4">
                  <label for="inputState">type of latrine : </label>
                  <select id="inputState" class="form-control" name='typeoflatrine'>
                      <option selected>Flush/pour flush latrineconnected to Piped sewer system</option>
                      <option>Septic tank</option>
                      <option>Twin Pit latrine With slab/ventilated improved pit</option>
                      <option>Twin Pit latrine Without slab/ventilated improved pit</option>
                      <option>Single Pit latrine With slab/ventilated improved pit</option>
                      <option>Single Pit latrine Without slab/ventilated improved pit</option>
                      <option>Service latrine Night soil removed by human</option>
                      <option>Service latrine Night soil serviced by animals</option>
                      <option>Night soil disposed into open drain</option>
                  </select>
              </div><br><hr class="new">
              <div class="form-group col-md-4">
                  <label for="inputState">Availability of kitchen and LPG/PNG : </label>
                  <select id="inputState" class="form-control" name='kitchen'>
                      <option selected>Cooking in kitchen Has LPG/PNG Connection</option>
                      <option>Cooking in kitchen Doesn't have LPG/PNG Connection</option>
                      <option>Cooking inside house, but not in kitchen Has LPG/PNG Connection </option>
                      <option>Cooking inside house, but not in kitchen Doesn't have LPG/PNG Connection </option>
                      <option>Cooking in open/ outside house Has LPG/PNG Connection</option>
                      <option>Cooking in open/ outside house Doesn't have LPG/PNG Connection</option>
                      <option>No cooking</option>
                  </select>
              </div>
          </div><br><hr class="new">
          <div class="form-row">
              <div class="form-group col-md-4">
                  <label for="inputState">Main fuel used for cooking : </label>
                  <select id="inputState" class="form-control" name='fuel'>
                      <option selected>Firewood</option>
                      <option>Crop residue</option>
                      <option>Cowdung cake</option>
                      <option>Coal/lignite/ charcoal</option>
                      <option>Kerosene</option>
                      <option>LPG/PNG</option>
                      <option>Electricity</option>
                      <option>Bio-gas</option>
                      <option>Solar</option>
                      <option>Any other</option>
                  </select>
              </div><br><hr class="new">
              <div class="form-group col-md-4">
                  <label for="inputState">Telephone and Mobile Phone/ Smartphone : </label>
                  <select id="inputState" class="form-control" name='phone'>
                      <option selected>Landline only</option>
                      <option>Smartphone</option>
                      <option> Other basic mobile</option>
                      <option>Both</option>
                      <option>Don't have</option>
                      
                  </select>
              </div><br><hr class="new">
              <div class="form-group col-md-4">
                  <label for="inputState">Bicycle and Scooter/ Motorcycle  Moped : </label>
                  <select id="inputState" class="form-control" name='vehicle'>
                      <option selected>Bicycle</option>
                      <option>Scooter/ Motorcycle/ Moped</option>
                      <option>Both</option>
                      <option>None</option>
                  </select>
              </div>
          </div><br><hr class="new">
          <div class="form-row">
              <div class="form-group col-md-4">
                  <label for="inputState">Availability of drinking water source : </label>
                  <select id="inputState" class="form-control" name='drikingwateravailability'> 
                      <option selected>Within premises</option>
                      <option>Near the premises</option>
                      <option>Away</option>
                  </select>
              </div><br><hr class="new">
              <div class="form-group col-md-4">
                  <label for="inputState">Main source of lighting : </label>
                  <select id="inputState" class="form-control" name='sourceoflight'>
                      <option selected>Electricity</option>
                      <option>Kerosene</option>
                      <option>Solar</option>
                      <option>Any other</option>
                      <option>Other oil</option>
                      <option>No lighting</option>
                  </select>
              </div><br><hr class="new">
              <div class="form-group col-md-4">
                  <label for="inputState">Waste water outlet connected to : </label>
                  <select id="inputState" class="form-control" name='wastewateroutlet'>
                      <option selected>Closed drainage</option>
                      <option>Open drainage</option>
                      <option>No drainage</option>
                  </select>
              </div>
          </div><br><hr class="new">
          <div class="form-group">
              <label for="inputState">Bathing facility available within the premises : </label>
              <select id="inputState" class="form-control" name="bathing">
                  <option selected>Bathroom</option>  
                  <option>Enclosure without roof</option>
                  <option>Don't Have</option>
              </select>
          </div><br><hr class="new">
          <div class="form-group">
              <label for="inputState">Television : </label>
              <select id="inputState" class="form-control" name='television'>
                  <option selected>Doordarshan free dish</option>  
                  <option>Other DTH/Dish</option>
                  <option>Cable connection</option>
                  <option>Any other</option>
                  <option>Don't Have</option>
              </select>
          </div><br><hr class="new">
          <div class="form-group">
              <label for="inputState">Have Laptop/ Computer ?</label>
              <select id="inputState" class="form-control" name='pc'>
                  <option selected>Yes</option>  
                  <option>No</option>
                 
              </select>
          </div><br><hr class="new">
          <div class="form-group">
              <label for="inputState">Access to internet : </label>
              <select id="inputState" class="form-control" name='internet'>
                  <option selected>On laptop/ Computer</option>  
                  <option>On mobile/smartphone</option>
                  <option>On any other device</option>
                  <option>Don't Have</option>
              </select>
          </div><br><hr class="new">
          <div class="form-group">
              <label for="inputState">Have Car/ Jeep/ Van ?</label>
              <select id="inputState" class="form-control" name='fourwheel'>
                  <option selected>Yes</option>  
                  <option>No</option>
              </select>
          </div><br><hr class="new">
          <div class="form-group">
              <label for="inputState">Main cereal consumed in the household :</label>
              <select id="inputState" class="form-control" name='cereal'>
                  <option selected>Rice</option>  
                  <option>Wheat</option>
                  <option>Jowar</option>
                  <option>Bajara</option>
                  <option>Maize</option>
                  <option>Any other</option>
              </select>
          </div><br><hr class="new">
          <button type="submit" class="btn btn-primary " style="width: 100%; border-radius: 0px; height: 50px;">Submit</button>
        </fieldset>
      </form>
  </div>

		
  <footer class="ftco-footer ftco-footer-widget ftco-bg-dark ftco-section" style="height: 50px; text-align: center;">
      

    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Site is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Central government</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


 
  <script src="{% static '/js/jquery.min.js' %}"></script>
  <script src="{% static '/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static '/js/popper.min.js' %}"></script>
  <script src="{% static '/js/bootstrap.min.js' %}"></script>
  <script src="{% static '/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static '/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static '/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static '/js/owl.carousel.min.js' %}"></script>
  <script src="{% static '/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static '/js/aos.js' %}"></script>
  <script src="{% static '/js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static '/js/scrollax.min.js' %}"></script>
  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false' %}"></script>
  <script src="{% static '/js/google-map.js' %}"></script>
  <script src="{% static '/js/main.js' %}"></script>

    
  </body>
</html>