{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Census - Division</title>
	{% include 'userInterface/head.html' %}


	<body>
	  {% include 'userInterface/nav.html' %}
	
	<section class="hero-wrap hero-wrap-2" style="background:coral">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate text-center">
					<h1 class="mb-2 bread">Census Division</h1>
				</div>
			</div>
		</div>
	</section>

	
	<div class="container"><br><br>
		<p>Census Division is responsible for conduct of Census Operations once in tne years under the legal authority
			of the Census Act, 1948 and the Census (Amendment) Act, 1993. The Directors of Census operations co-ordinate
			the work of census taking in the respective States/Union Territories. The last decennial population Census
			of India was during 9th–28th February 2001 with a revisional round during 1st-5th March, 2001.</p>
		<p>All matters relating to Census including planning, pre-testing of questions/ schedules, conduct of census,
			tabulation from census data and its dissemination are dealt with in this Division.</p>
		<p>The population census in India is conducted once in ten years. The Census of India 2011 will be fifteenth
			census in the continuous series from 1872, the seventh after independence and the second census of the third
			millennium. The work relating to the 2011 census has already commenced.</p><br><br>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Division</th>
					<th>Links</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>NPR Division<br>-The National Population Register (NPR) is a Register of usual residents of the
						country</td>
					<td><a href="https://censusindia.gov.in/2011-Common/IntroductionToNpr.html">Know more</a></td>
				</tr>
				<tr>
					<td>Social Studies Division</td>
					<td><a href="https://censusindia.gov.in/2011-common/ssdivision.html">Know more</a></td>	
				</tr>
				<tr>
					<td>Data Processiong Division</td>
					<td><a href="https://censusindia.gov.in/2011-common/dpdivision.html">Know more</a></td>
				<tr>
					<td>Demography Division</td>
					<td><a href="https://censusindia.gov.in/2011-common/Demography_Division.html">Know more</a></td>
				</tr>
				</tr>
				<tr>
					<td>Language Division</td>
					<td><a href="https://censusindia.gov.in/2011-common/Language_Division.html">Know more</a></td>
				<tr>
					<td>Administration And Personal Division</td>
					<td><a href="https://censusindia.gov.in/2011-common/Administration_Division.html">Know more</a></td>
				</tr>
				<tr>
					<td>Map Division</td>
					<td><a href="https://censusindia.gov.in/2011-common/map.html">Know more</a></td>
				</tr>
				<tr>
					<td>Hindi Division</td>
					<td><a href="https://censusindia.gov.in/2011-common/hindisection.html">Know more</a></td>
				</tr>
				<tr>
					<td>Vital statistics</td>
					<td><a href="https://censusindia.gov.in/vital_statistics/CRS/CRS_Division.html">Know more</a></td>
				</tr>
				<tr>
					<td>Data Disseminaion Division</td>
					<td><a href="https://censusindia.gov.in/2011-common/ddU.html">Know more</a></td>
				</tr>
			</tbody>
		</table>


		<footer class="ftco-footer ftco-footer-widget ftco-bg-dark ftco-section" style="height: 20px; text-align: center;">
      

			<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Site is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Central government</a>
		  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				  </div>
				</div>
			  </div>
			</footer>



		<!-- loader -->
		<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
				<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
				<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
					stroke="#F96D00" />
			</svg></div>


			<script src="{% static '/js/jquery.min.js' %}"></script>
			<script src="{% static '/js/jquery-migrate-3.0.1.min.js' %}"></script>
			<script src="{% static '/js/popper.min.js' %}"></script>
			<script src="{% static '/js/bootstrap.min.js' %}"></script>
			<script src="{% static '/js/jquery.easing.1.3.js' %}"></script>
			<script src="{% static '/js/jquery.waypoints.min.js' %}"></script>
			<script src="{% static '/js/jquery.stellar.min.js' %}"></script>
			<script src="{% static '/js/owl.carousel.min.js' %}"></script>
			<script src="{% static '/js/jquery.magnific-popup.min.js' %}"></script>
			<script src="{% static '/js/aos.js' %}"></script>
			<script src="{% static '/js/jquery.animateNumber.min.js' %}"></script>
			<script src="{% static '/js/scrollax.min.js' %}"></script>
			<script
				src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false' %}"></script>
			<script src="{% static '/js/google-map.js' %}"></script>
			<script src="{% static '/js/main.js' %}"></script>
		  
			  
</body>

</html>