{% load static %}
<div class="bg-top navbar-light">
  <div class="container">
    <div class="row no-gutters d-flex align-items-center align-items-stretch">
      <div class="col-md-4 d-flex align-items-center py-4">
        <img
          src="{% static 'images/satya.png' %}"
          style="max-height: 150px"
        />
        <a href="index.html" style="color: black"
          >Office of the Registrar General & Census Commissioner, India Ministry
          of Home Affairs, Government of India</a
        >
      </div>
      
    </div>
  </div>
</div>
<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light"
  id="ftco-navbar"
>
  <div class="container d-flex align-items-center px-4">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="oi oi-menu"></span> Menu
    </button>
      <div class="d-flex order-lg-last">
        {% if messages %}
        <div class="d-block">
          <div class="row d-flex">
            <div
              class="col-md topper d-flex align-items-center justify-content-end"
            >
              <p class="mb-0">
                <a
                  href="{% url 'userInterface:logoutPage' %}"
                  class="btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center"
                >
                  <span style="position: sticky">Logout</span>
                </a>
              </p>
            </div>
          </div>
        </div>
        {% else %}
        
          <div class="row d-flex">
            <div
              class="col-md topper d-flex align-items-center justify-content-end"
            >
              <p class="mb-0">
                <a
                  href="{% url 'userInterface:loginPage' %}"
                  class="btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center"
                >
                  <span style="position: sticky">Login</span>
                </a>
              </p>
              <p class="mb-0" style="margin-left: 10px">
                <a
                  href="{% url 'userInterface:signup' %}"
                  class="btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center"
                >
                  <span>Sign Up</span>
                </a>
              </p>
            </div>
          </div>
        
        {% endif %}
      </div>
    </form>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="index.html" class="nav-link pl-0">Home</a>
        </li>
        <li class="nav-item">
          <a href="about.html" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="division.html" class="nav-link">Division</a>
        </li>
        <li class="nav-item"><a href="blog.html" class="nav-link">News</a></li>
        <li class="nav-item active">
          <a href="censusForm.html" class="nav-link">Census Form</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'userInterface:visual' %}" class="nav-link"
            >Dashboard</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
