{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.0/chart.min.js"
      integrity="sha512-RGbSeD/jDcZBWNsI1VCvdjcDULuSfWTtIva2ek5FtteXeSjLfXac4kqkDRHVGf1TwsXCAqPTF7/EYITD0/CTqw=="
      crossorigin="anonymous"
    ></script>
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../assets/img/apple-icon.png"
    />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>CensusIndia</title>
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
      name="viewport"
    />
    <!--     Fonts and icons     -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
      rel="stylesheet"
    />
    <!-- CSS Files -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="{% static '/css/newui.css' %}" rel="stylesheet" />
    <link href="{% static '/css/demo.css' %}" rel="stylesheet" />
  </head>

  <body class="">
    <div class="wrapper">
      <div class="sidebar" data-color="orange">
        <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
        <div class="logo">
          <a href="#" class="simple-text logo-mini">
            <img
              src="{% static '/images/satya.png' %}"
              style="max-height: 43px"
            />
          </a>
          <a href="#" class="simple-text logo-normal"> India </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav">
            <li class="active">
              <a href="{% url 'userInterface:visual' %}">
                <i class="now-ui-icons design_app"></i>
                <p>Dashboard</p>
              </a>
            </li>
            <li>
              <a href="{% url 'userInterface:index'%}">
                <i class="now-ui-icons education_atom"></i>
                <p>Home</p>
              </a>
            </li>
            <li>
              <a href="{% url 'userInterface:about' %}">
                <i class="now-ui-icons location_map-big"></i>
                <p>About</p>
              </a>
            </li>
            <li>
              <a href="{% url 'userInterface:division' %}">
                <i class="now-ui-icons ui-1_bell-53"></i>
                <p>Division</p>
              </a>
            </li>
            <li>
              <a href="{% url 'userInterface:blog' %}">
                <i class="now-ui-icons users_single-02"></i>
                <p>News</p>
              </a>
            </li>
            <li>
              <a href="{% url 'userInterface:censusForm' %}">
                <i class="now-ui-icons design_bullet-list-67"></i>
                <p>Census Form</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-panel">
        <!-- Navbar -->
        <nav
          class="navbar navbar-expand-lg navbar-transparent navbar-absolute bg-primary fixed-top"
        >
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </button>
              </div>
              <a class="navbar-brand" href="#pablo">Dashboard</a>
            </div>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navigation"
              aria-controls="navigation-index"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div
              class="collapse navbar-collapse justify-content-end"
              id="navigation"
            ></div>
          </div>
        </nav>
        <!-- End Navbar -->
        <div class="panel-header panel-header-lg">
          <canvas id="bigDashboardChart"></canvas>
        </div>
        <div class="content">
          <div class="row">
            <div class="col-lg-2">
              <div class="card card-chart">
                <div class="card-header">
                  <h6 class="card-title">GenderWise</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="lineChartExample"></canvas>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="now-ui-icons arrows-1_refresh-69"></i> Just
                    Updated
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-6">
              <div class="card card-chart">
                <div class="card-header">
                  <h6 class="card-title">LiteracyWise</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="lineChartExampleWithNumbersAndGrid"></canvas>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="now-ui-icons arrows-1_refresh-69"></i> Just
                    Updated
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="card card-chart">
                <div class="card-header">
                  <h6 class="card-title">ReligionWise</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="barChartSimpleGradientsNumbers"></canvas>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-6">
              <div class="card card-chart">
                <div class="card-header">
                  <h6 class="card-title">Literacy AreaWise</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="literacybarchart"></canvas>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-0">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-category">All States</h5>
                  <h4 class="card-title">Live Count</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="text-primary">
                        <th>Name</th>
                        <th>Population</th>
                        <th>Men</th>
                        <th class="text-right">Women</th>
                      </thead>
                      <tbody>
                        {% for st in context %}
                        <tr>
                          <td>{{st.state}}</td>
                          <td>{{st.population}}</td>
                          <td>{{st.menPopulation}}</td>
                          <td class="text-right">{{st.womanPopulation}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="container-fluid">
            <nav>
              <ul>
                <li>
                  <a href="https://www.creative-tim.com"> Creative Tim </a>
                </li>
                <li>
                  <a href="http://presentation.creative-tim.com"> About Us </a>
                </li>
                <li>
                  <a href="http://blog.creative-tim.com"> Blog </a>
                </li>
              </ul>
            </nav>
            <div class="copyright">
              &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              , Designed by
              <a href="https://www.invisionapp.com" target="_blank">Invision</a
              >. Coded by
              <a href="https://www.creative-tim.com" target="_blank"
                >Creative Tim</a
              >.
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
  <!--   Core JS Files   -->
  <script src="{% static '/js/jquery.min.js' %}"></script>
  <script src="{% static '/js/popper.min.js' %}"></script>
  <script src="{% static '/js/bootstrap.min.js' %}"></script>

  <script src="{% static 'js/perfect-scrollbar.jquery.min.js' %}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static '/js/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static '/js/newui.js'%}"></script>
  <script src="{% static '/js/demo.js'%}"></script>
  <script>
    $(document).ready(function () {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();
    });
  </script>
</html>
